body {
  background-color: rgb(243, 254, 190);
}
.main {
  text-align: center;
}
img {
  align-items: center;
  height: 300px;
  width: 600px;
}
a {
  font-size: larger;
  color: blue;
  text-decoration: none;
  margin: 20px;
}
a:hover {
  text-decoration: underline;
}
